{
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
